@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This webpage allows you to use a simple transaction system. Please refer to the "<a asp-area="" asp-controller="Home" asp-action="Transactions">Transactions</a>" section to begin.</p>
</div>
